---
import { changeLanguage } from "i18next";
import Admission from "@layouts/Admission.astro";
import Layout from "@layouts/Layout.astro";
import { t } from "i18next";

changeLanguage("en");
---

<Layout title="A-Level Admission | IIP">
  <Admission title="A-Level Admission" active="a-level" link="">
    <div>
      <div class="ml-5 mt-5 flex gap-x-11 md:mt-12">
        <div class="flex-[0.7]">
          <!--first box-->
          <div class="">
            <div class="ml-4 h-1/2 w-[325px] rounded-xl bg-gray-300 md:w-full">
              <p>
                <ul class="ml-3 list-disc p-7 md:ml-9">
                  <li class="mb-5">
                    {t("admission_a-level:requirement.text-1")}
                  </li>
                  <li class="mb-2">
                    Must finished IGCSE with minimum Bs or equivalent
                  </li>
                  <ul class="ml-9 list-decimal">
                    <li class="mb-2">Myanmar School Grade-10</li>
                    <li class="mb-2">GED or OSSD</li>
                  </ul>
                  <li class="mb-2">Must take a minimum of 3 subjects</li>
                  <li class="mb-2">Must be able to withstand pressure</li>
                </ul>
              </p>
            </div>
          </div>
          <!--second box -->
          <div class="ml-3 mt-8 rounded-xl bg-gray-300 p-7 md:ml-4">
            <p class="ml-4">School fees - $2000</p>
            <p class="ml-4">Campus - 1, Wingabar street, shwe gon dine</p>
            <p class="ml-4">Dress Code- Casual</p>
            <p class="ml-4">Curriculum - CIE (or) Edexcel</p>
            <p class="ml-4">Duration - 18 months</p>
          </div>
        </div>

        <div class="flex-1">
          <img
            src="/images/hero.jpg"
            alt=""
            class="hidden h-full object-cover md:block"
          />
          <!-- <Image
            src="/images/graduation_2022.png"
            alt="Hero Image"
            objectFit="contain"
          /> -->
        </div>
      </div>
    </div>
  </Admission>
</Layout>
