---
import Admission from "@layouts/Admission.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="IGCSE Admission| IIP">
  <Admission title="IGCSE Admission" active="igcse" link="">
    <div></div>
  </Admission>
</Layout>
