---
import { t, changeLanguage } from "i18next";
import Admission from "@layouts/Admission.astro";
import Layout from "@layouts/Layout.astro";
import Image from "@components/Common/Image.astro";

changeLanguage("en");
---

<Layout title="IGCSE Admission | IIP">
  <Admission title="IGCSE Admission" active="igcse" link="">
    <div class="flex gap-x-11">
      <!--First column -->
      <div class="ml-1 mt-10 flex-[0.8]">
        <!--First box-->
        <div class="ml-6 w-[330px] rounded-xl bg-gray-300 md:ml-5 md:w-full">
          <ul class="mb:ml-9 ml-3 list-disc p-7">
            <li class="mb-5">{t("admission_igcse:requirement.text-1")}</li>
            <li class="mb-2">{t("admission_igcse:requirement.text-2")}</li>
            <ul class="ml-9 list-decimal">
              <li class="mb-2">
                {t("admission_igcse:requirement.text-3")}
              </li>
              <li class="mb-2">
                {t("admission_igcse:requirement.text-4")}
              </li>
            </ul>
            <li class="mb-2">
              {t("admission_igcse:requirement.text-5")}
            </li>
            <li class="mb-2">{t("admission_igcse:requirement.text-6")}</li>
          </ul>
        </div>
        <!--First box-->
        <!--second box-->
        <div class="ml-6 mt-9 rounded-xl bg-gray-300">
          <p class="ml-4">{t("admission_igcse:about-igcse.text-1")}</p>
          <p class="ml-4">{t("admission_igcse:about-igcse.text-2")}</p>
          <p class="ml-4">{t("admission_igcse:about-igcse.text-3")}</p>
          <p class="ml-4">{t("admission_igcse:about-igcse.text-4")}</p>
          <p class="ml-4">{t("admission_igcse:about-igcse.text-5")}</p>
        </div>
        <!--second box-->
      </div>
      <!--Second column -->
      <!--Second column -->
      <div class="mt-10 flex-1">
        <img
          src="/images/graduation_2022.png"
          alt=""
          class="hidden h-full object-cover md:block"
        />
      </div>
      <!--Second column -->
    </div>
  </Admission>
</Layout>
