---
import Admission from "@layouts/Admission.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Year 1 to 7 Admission| IIP">
  <Admission title="Year 1 to 7 Admission" active="year-1_to_7" link="">
    <div></div>
  </Admission>
</Layout>
