---
import { changeLanguage } from "i18next";
import Admission from "@layouts/Admission.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("en");
---

<Layout title="Year 8 to 9 Admission| IIP">
  <Admission title="Year 8 to 9 Admission" active="year-8_to_9" link="">
    <div></div>
  </Admission>
</Layout>
