---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Link from "@components/Common/Link.astro";
import Year1To9Curriculum from "@layouts/Year1To9Curriculum.astro";

changeLanguage("en");
---

<Layout title="Year 1 To 9 Curriculum | IIP">
  <Year1To9Curriculum
    title="Year 1 To 9"
    active="studying"
    link="/curriculum/year-1_to_9/apply"
  >
    <!--Student life -->
    <div class="ml-8 mt-11 text-4xl md:ml-32">Student life</div>
    <div class="mx-auto mt-5 w-1/2">
      <img src="/images/hero.jpg" />
    </div>
    <div class="mx-auto mb-2 mt-5 w-5/6 text-justify text-xl">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere diam
      id ligula bibendum pulvinar. Quisque scelerisque, turpis vestibulum
      rhoncus laoreet, lorem mauris convallis felis, quis interdum massa justo
      egestas enim. Pellentesque ut lacinia enim.nean semper turpis nec blandit
      facilisis. Sed dolor libero, scelerisque sed odio nec, varius fringilla
      diam. Phasellus venenatis nec velit sed hendrerit. Donec fermentum dui ac
      mi bibendum viverra. Sed consequat aliquam aliquet. Pellentesque posuere
      nunc ut justo sodales, sit amet aliquam justo tincidunt. Donec eu nisl
      velit.
    </div>
    <Link class="ml-32 text-blue-600" href="/images">See More Images</Link>

    <!--Assignments -->
    <div class="mb-9 ml-32 mt-14 text-4xl">Assignments</div>
    <div class="mx-auto mt-5 w-5/6 text-justify text-xl">
      Our curriculum is heavily past-paper centric. In contrast to the normal
      after-the-syllabus past paper preparation, we expose our students to
      difficult past exam questions while going through lessons in the syllabus
      in parallel. This allows students to develop both the theoretical
      knowledge and practical techniques needed to tackle any standardized exam.
    </div>

    <!--Assessments -->

    <div class="mb-9 ml-32 mt-14 text-4xl">Assessments</div>
    <div class="mx-auto mt-5 w-5/6 text-justify text-xl">
      Once every 3 months, we encourage students to sit a chapter end test for
      each of their subjects. This acts as revision for the students and as a
      summative assessment for the teachers.
    </div>

    <!--Midterm and final Exams -->

    <div class="mb-9 ml-32 mt-14 text-4xl">Midterm and Final Exams</div>
    <div class="mx-auto mt-5 w-5/6 text-justify text-xl">
      Midterm exams are conducted halfway (or at times, one-third) through the
      course and Final exams at the end of the year. These validate the academic
      performances of students while also identifying those in need of an extra
      push in studying.
    </div>

    <!--Guide -->

    <div class="mb-9 ml-32 mt-14 text-4xl">Reading Session</div>
    <div class="mx-auto mt-5 w-5/6 text-justify text-xl">
      We offer students struggling in their academics personalized classes,
      taught by none other than their subject teachers and graduates of IIP that
      completed their levels with flying grades.
    </div>
  </Year1To9Curriculum>
</Layout>
