---
import Admission from "@layouts/Admission.astro";
import Layout from "@layouts/Layout.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("my");
---

<Layout title="A-Level Admission | IIP">
  <Admission title="A-Level Admission" active="a-level" link="">
    <div class="ml-5 mt-5 flex flex-col md:mt-12">
      <div class="flex-[0.7]">
        <!--first box-->
        <div class="">
          <div class="ml-0.5 h-1/2 w-[310px] rounded-xl bg-gray-300 md:w-full">
            <p>
              <ul class="ml-3 list-disc p-7 md:ml-9">
                <li class="mb-5">
                  {t("admission_a-level:requirement.text-1")}
                </li>
                <li class="mb-2">
                  {t("admission_a-level:requirement.text-2")}
                </li>
                <ul class="ml-9 list-decimal">
                  <li class="mb-2">
                    {t("admission_a-level:requirement.text-3")}
                  </li>
                  <li class="mb-2">
                    {t("admission_a-level:requirement.text-4")}
                  </li>
                </ul>
                <li class="mb-2">
                  {t("admission_a-level:requirement.text-5")}
                </li>
                <li class="mb-2">
                  {t("admission_a-level:requirement.text-6")}
                </li>
              </ul>
            </p>
          </div>
        </div>
        <!--second box -->
        <div
          class="md: ml-0.5 mt-8 w-[310px] rounded-xl bg-gray-300 p-7 md:ml-4"
        >
          <p class="ml-4">{t("admission_a-level:about-alevel.text-1")}</p>
          <p class="ml-4">{t("admission_a-level:about-alevel.text-2")}</p>
          <p class="ml-4">{t("admission_a-level:about-alevel.text-3")}</p>
          <p class="ml-4">{t("admission_a-level:about-alevel.text-4")}</p>
          <p class="ml-4">{t("admission_a-level:about-alevel.text-5")}</p>
        </div>
      </div>

      <div class="flex-1">
        <img
          src="/images/hero.jpg"
          alt=""
          class="hidden h-full object-cover md:flex"
        />
        <!-- <Image
            src="/images/graduation_2022.png"
            alt="Hero Image"
            objectFit="contain"
          /> -->
      </div>
    </div>
  </Admission>
</Layout>
