---
import { changeLanguage } from "i18next";
import Admission from "@layouts/Admission.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("my");
---

<Layout title="A-Level Admission| IIP">
  <Admission title="A-Level Admission" active="a-level" link="">
    <div></div>
  </Admission>
</Layout>
