---
import { changeLanguage } from "i18next";
import Admission from "@layouts/Admission.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("my");
---

<Layout title="IGCSE Admission| IIP">
  <Admission title="IGCSE Admission" active="igcse" link="">
    <div></div>
  </Admission>
</Layout>
