---
import { changeLanguage } from "i18next";
import Admission from "@layouts/Admission.astro";
import Layout from "@layouts/Layout.astro";
import Image from "@components/Common/Image.astro";

changeLanguage("my");
---

<Layout title="IGCSE Admission | IIP">
  <Admission title="IGCSE Admission" active="igcse" link="">
    <div class="ml-5 mt-5 flex gap-x-11 md:mt-12">
      <div class="flex-[0.7]">
        <!--first box-->
        <div class="">
          <div class="ml-4 h-1/2 w-[325px] rounded-xl bg-gray-300 md:w-full">
            <p>
              <ul class="mb:ml-9 ml-3 list-disc p-7">
                <li class="mb-5">Must be in age of 13 to 18</li>
                <li class="mb-2">Must finished Year-9 or equivalent</li>
                <ul class="ml-9 list-decimal">
                  <li class="mb-2">Myanmar School Grade-8</li>
                  <li class="mb-2">Singapore Course Secondary-2</li>
                </ul>
                <li class="mb-2">
                  Can attend if completed year 8 with all A*s
                </li>
                <li class="mb-2">Dun be an idiot kiddo</li>
              </ul>
            </p>
          </div>
        </div>
        <!--second box -->
        <div class="mb:ml-4 ml-3 mt-8 rounded-xl bg-gray-300 p-7">
          <p class="ml-4">School fees - $1000</p>
          <p class="ml-4">Campus - 1, Wingabar street, shwe gon dine</p>
          <p class="ml-4">Dress Code- Uniform</p>
          <p class="ml-4">curriculum - CIE (or) Edexcel</p>
          <p class="ml-4">Duration - 18 months</p>
        </div>
      </div>

      <div class="flex-1">
        <img
          src="/images/graduation_2022.png"
          alt=""
          class="hidden h-full object-cover md:block"
        />
        <!-- <Image
          src="/images/graduation_2022.png"
          alt="Hero Image"
          objectFit="contain"
        /> -->
      </div>

      <!--image -->
      <!-- <Image src="/images/hero.jpg" /> -->
    </div>
  </Admission>
</Layout>
