---
import { t, changeLanguage } from "i18next";
import Admission from "@layouts/Admission.astro";
import Layout from "@layouts/Layout.astro";
import Image from "@components/Common/Image.astro";

changeLanguage("my");
---

<Layout title="IGCSE Admission | IIP">
  <Admission title="IGCSE Admission" active="igcse" link="">
    <div class="ml-5 mt-5 flex gap-x-11 md:mt-12">
      <div class="flex-[0.7]">
        <!--first box-->
        <div class="">
          <div class="ml-0.5 h-1/2 w-[310px] rounded-xl bg-gray-300 md:w-full">
            <p>
              <ul class="mb:ml-9 ml-3 list-disc p-7">
                <li class="mb-5">{t("admission_igcse:requirement.text-1")}</li>
                <li class="mb-2">{t("admission_igcse:requirement.text-2")}</li>
                <ul class="ml-9 list-decimal">
                  <li class="mb-2">
                    {t("admission_igcse:requirement.text-3")}
                  </li>
                  <li class="mb-2">
                    {t("admission_igcse:requirement.text-4")}
                  </li>
                </ul>
                <li class="mb-2">
                  {t("admission_igcse:requirement.text-5")}
                </li>
                <li class="mb-2">{t("admission_igcse:requirement.text-6")}</li>
              </ul>
            </p>
          </div>
        </div>
        <!--second box -->
        <div
          class="ml-0.5 mt-8 w-[310px] rounded-xl bg-gray-300 p-7 md:ml-4 md:w-full"
        >
          <p class="ml-4">{t("admission_igcse:about-igcse.text-1")}</p>
          <p class="ml-4">{t("admission_igcse:about-igcse.text-2")}</p>
          <p class="ml-4">{t("admission_igcse:about-igcse.text-3")}</p>
          <p class="ml-4">{t("admission_igcse:about-igcse.text-4")}</p>
          <p class="ml-4">{t("admission_igcse:about-igcse.text-5")}</p>
        </div>
      </div>

      <div class="flex-1">
        <img
          src="/images/graduation_2022.png"
          alt=""
          class="hidden h-full object-cover md:block"
        />
        <!-- <Image
          src="/images/graduation_2022.png"
          alt="Hero Image"
          objectFit="contain"
        /> -->
      </div>

      <!--image -->
      <!-- <Image src="/images/hero.jpg" /> -->
    </div>
  </Admission>
</Layout>
