---
import { t, changeLanguage } from "i18next";
import Admission from "@layouts/Admission.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("my");
---

<Layout title="Year 1 to 7 Admission | IIP">
  <Admission title="Year 1 to 7 Admission" active="year-1_to_7" link="">
    <div class="flex gap-x-11">
      <!--First column -->
      <div class="ml-1 mt-10 flex-[0.8]">
        <!--First box-->
        <div class="ml-6 w-[330px] rounded-xl bg-gray-300 md:ml-5 md:w-auto">
          <ul class="ml-9 list-disc p-7">
            <li class="mb-5">
              {t("admission_year_1-7:requirement.text-1")}
            </li>
            <ul class="ml-9 list-decimal"></ul>
            <li class="mb-2">
              {t("admission_year_1-7:requirement.text-2")}
            </li>
          </ul>
        </div>
        <!--First box-->
        <!--second box-->
        <div class="ml-6 mt-9 rounded-xl bg-gray-300 py-4">
          <p class="ml-4">{t("admission_year_1-7:about-year_1-7.text-1")}</p>
          <p class="ml-4">
            {t("admission_year_1-7:about-year_1-7.text-2")}
          </p>
          <p class="ml-4">{t("admission_year_1-7:about-year_1-7.text-3")}</p>
          <p class="ml-4">{t("admission_year_1-7:about-year_1-7.text-4")}</p>
          <p class="ml-4">{t("admission_year_1-7:about-year_1-7.text-5")}</p>
        </div>
        <!--second box-->
      </div>
      <!--First column -->
      <!--Second column -->
      <div class="mt-10 flex-1">
        <img
          src="/images/logo.png"
          alt=""
          class="hidden h-full object-cover md:block"
        />
      </div>
      <!--Second column -->
    </div>
  </Admission>
</Layout>
