---
import { changeLanguage } from "i18next";
import Admission from "@layouts/Admission.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("my");
---

<Layout title="Year 1 to 7 Admission | IIP">
  <Admission title="Year 1 to 7 Admission" active="year-1_to_7" link="">
    <div>
      <div class="ml-5 mt-5 flex gap-x-11 md:mt-12">
        <div class="flex-[0.7]">
          <!--first box-->
          <div class="">
            <div class="ml-4 h-1/2 w-[325px] rounded-xl bg-gray-300 md:w-full">
              <p>
                <ul class="mb:ml-9 ml-3 list-disc p-7">
                  <li class="mb-5">Must be in age of 4 and above</li>
                  <ul class="ml-9 list-decimal"></ul>
                  <li class="mb-2">Primary School</li>
                </ul>
              </p>
            </div>
          </div>
          <!--second box -->
          <div class="ml-3 mt-8 rounded-xl bg-gray-300 p-7 md:ml-4">
            <p class="ml-4">School fees - $500</p>
            <p class="ml-4">
              Campus - 27, Thiri Min Galar Street,Kamaryut Township,Yangon
            </p>
            <p class="ml-4">Dress Code- Uniform</p>
            <p class="ml-4">curriculum - British</p>
            <p class="ml-4">Duration - 1 semester per year</p>
          </div>
        </div>

        <div class="flex-1">
          <img
            src="/images/logo.png"
            alt=""
            class="hidden h-full object-cover md:block"
          />
        </div>
      </div>
    </div>
  </Admission>
</Layout>
