---
import { t, changeLanguage } from "i18next";
import Admission from "@layouts/Admission.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("my");
---

<Layout title="Year 8 to 9 Admission | IIP">
  <Admission title="Year 8 to 9 Admission" active="year-8_to_9" link="">
    <div class="flex gap-x-11">
      <!--First column -->
      <div class="ml-1 mt-10 flex-[0.8]">
        <!--First box-->
        <div class="ml-6 w-[330px] rounded-xl bg-gray-300 md:ml-5 md:w-auto">
          <ul class="mb:ml-9 ml-3 list-disc p-7">
            <li class="mb-5">
              {t("admission_year_8-9:requirement.text-1")}
            </li>
            <li class="mb-2">
              {t("admission_year_8-9:requirement.text-2")}
            </li>
            <ul class="ml-9 list-decimal">
              <li class="mb-2">
                {t("admission_year_8-9:requirement.text-3")}
              </li>
              <li class="mb-2">
                {t("admission_year_8-9:requirement.text-4")}
              </li>
            </ul>
            <li class="mb-2">
              {t("admission_year_8-9:requirement.text-5")}
            </li>
            <li class="mb-2">
              {t("admission_year_8-9:requirement.text-6")}
            </li>
          </ul>
        </div>
        <!--First box-->
        <!--second box-->
        <div class="ml-5 mt-9 rounded-xl bg-gray-300 py-4">
          <p class="ml-4">{t("admission_year_8-9:about-year_8-9.text-1")}</p>
          <p class="ml-4">{t("admission_year_8-9:about-year_8-9.text-2")}</p>
          <p class="ml-4">{t("admission_year_8-9:about-year_8-9.text-3")}</p>
          <p class="ml-4">{t("admission_year_8-9:about-year_8-9.text-4")}</p>
          <p class="ml-4">{t("admission_year_8-9:about-year_8-9.text-5")}</p>
        </div>
        <!--second box-->
      </div>
      <!--First column -->
      <!--Second column -->
      <div class="mt-10 flex-1">
        <img
          src="/images/banner.jpg"
          alt=""
          class="hidden h-full object-cover md:block"
        />
      </div>
      <!--Second column -->
    </div>
  </Admission>
</Layout>
