---
import { changeLanguage } from "i18next";
import Admission from "@layouts/Admission.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("my");
---

<Layout title="Year 8 to 9 Admission | IIP">
  <Admission title="Year 8 to 9 Admission" active="year-8_to_9" link="">
    <div>
      <div class="ml-5 mt-5 flex gap-x-11 md:mt-12">
        <div class="flex-[0.7]">
          <!--first box-->
          <div class="">
            <div class="ml-4 h-1/2 w-[325px] rounded-xl bg-gray-300 md:w-full">
              <p>
                <ul class="mb:ml-9 ml-3 list-disc p-7">
                  <li class="mb-5">Must be in age of 12 or above</li>
                  <li class="mb-2">Must finished Year-7 or equivalent</li>
                  <ul class="ml-9 list-decimal">
                    <li class="mb-2">Myanmar School Grade-7</li>
                    <li class="mb-2">Singapore Course Secondary-1</li>
                  </ul>
                  <li class="mb-2">
                    Can attend if completed year 7 with all A*s
                  </li>
                  <li class="mb-2">Dun fail year 7</li>
                </ul>
              </p>
            </div>
          </div>
          <!--second box -->
          <div class="mb:ml-4 ml-3 mt-8 rounded-xl bg-gray-300 p-7">
            <p class="ml-4">School fees - $1000</p>
            <p class="ml-4">Campus - 1, Wingabar street, shwe gon dine</p>
            <p class="ml-4">Dress Code- Uniform</p>
            <p class="ml-4">curriculum - year 8</p>
            <p class="ml-4">Duration - a year</p>
          </div>
        </div>

        <div class="flex-1">
          <img
            src="/images/banner.jpg"
            alt=""
            class="hidden h-full object-cover md:block"
          />
        </div>
      </div>
    </div>
  </Admission>
</Layout>
