---
import { changeLanguage } from "i18next";
export const prerender = true;
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";

changeLanguage("en");

interface Props {
  entry: {
    id: string;
    slug: string;
    body: string;
    collection: string;
    data: {
      title: string;
      relatedLinks: string[];
      lastUpdated: Date;
    };
    render: Function;
  };
}

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const articleEntries = await getCollection("article");
  return articleEntries.map((article) => ({
    params: { slug: article.slug },
    props: { entry: article },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

// console.log(entry);
---

<Layout title={entry.data.title}>
  <main class="min-h-[80vh]">
    <article class="mx-4 my-8 md:mx-12 md:my-20">
      <div class="mb-8">
        <h1 class="mb-4 text-4xl font-medium">{entry.data.title}</h1>
        <p class="font-medium text-muted-foreground">
          Last Updated: {entry.data.lastUpdated.toLocaleDateString()}
        </p>
      </div>
      <Content />
    </article>
  </main>
</Layout>
