---
import { t } from "i18next";
---

<div class="mx-12">
  <h1 class="mb-4"><b>{t("about-us:history.title")}</b></h1>
  <p>
    {t("about-us:history.text")}
  </p>
</div>

<style>
  h1 {
    font-size: 30px;
  }

  p {
    text-align: justify;
  }
  .history_main {
    /* margin: 30px; */
  }
</style>
