---
import { t } from "i18next";
import Image from "@components/Common/Image.astro";

import DawAyeAyeAungImage from "@assets/founders/aye-aye-aung.jpg";
import UKyawThiha from "@assets/founders/kyaw-thiha.jpg";
import DawMyatThitMon from "@assets/founders/myat-thit-mon.jpg";
---

<div class="founder_main">
  <h1><b>{t("about-us:founders.title")}</b></h1>
  <div class="row">
    <div class="column">
      <!-- <img
        class="border-4 border-primary"
        src="/images/founders/aye-aye-aung.jpg"
        alt="Daw Aye Aye Aung"
        style="width:100%"
      /> -->
      <Image
        src={DawAyeAyeAungImage}
        alt="Principal Daw Aye Aye Aung"
        class="w-full border-4 border-primary"
      />
      <p class="name">{t("about-us:founders.daw-aye-aye-aung.name")}</p>
      <p>{t("about-us:founders.daw-aye-aye-aung.role")}</p>
    </div>
    <div class="column">
      <Image
        src={UKyawThiha}
        alt="Finance Director U Kyaw Thiha"
        class="w-full border-4 border-primary"
      />
      <p class="name">{t("about-us:founders.kyaw-thiha.name")}</p>
      <p>{t("about-us:founders.kyaw-thiha.role")}</p>
    </div>
    <div class="column">
      <Image
        src={DawMyatThitMon}
        alt="Managing Director Daw Myat Thit Mon"
        class="w-full border-4 border-primary"
      />
      <p class="name">{t("about-us:founders.myat-thit-mon.name")}</p>
      <p>{t("about-us:founders.myat-thit-mon.role")}</p>
    </div>
  </div>
</div>
<style>
  h1 {
    font-size: 40px;
    text-align: center;
  }
  .founder_main {
    margin: 20px;
  }
  .row {
    display: flex;
    margin: 40px;
  }
  .column {
    flex: 33.33%;
    padding: 20px;
    margin: 40px;
  }
  img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid gray;
  }
  .h1 {
    text-align: center;
  }
  .name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
  }
  p {
    font-size: 15px;
    text-align: center;
  }
</style>
