---
---

<div>
  <div class="main_link">
    <h1><b>Related Links</b></h1>
    <p><a href="Achievements">Achievements</a></p>
    <p><a href="Alumini">Alumini</a></p>
    <p><a href="Previous Grades">Previous Grades</a></p>
  </div>
  <style>
    h1 {
      font-size: 30px;
    }
    .main_link {
      margin: 30px;
    }
    a:hover {
      color: blue;
    }
  </style>
</div>
