---
import { t } from "i18next";
---

<div class="AboutUsHeader">
  <div class="MissionTextSection">
    <h1 class="mb-6 text-2xl font-bold text-secondary md:mb-8 md:text-5xl">
      {t("about-us:mission-statement.title")}
    </h1>
    <div class="mb-8">
      <p class="mb-4 text-xl font-bold text-white md:text-3xl">
        {t("about-us:mission-statement.about-us.title")}
      </p>
      <p class="text-lg leading-relaxed text-white md:text-xl md:leading-loose">
        {t("about-us:mission-statement.about-us.text")}
      </p>
    </div>
    <div class="mb-8">
      <p class="mb-4 text-xl font-bold text-white md:text-3xl">
        {t("about-us:mission-statement.additional-information.title")}
      </p>
      <p class="text-lg leading-relaxed text-white md:text-xl md:leading-loose">
        {t("about-us:mission-statement.additional-information.text")}
      </p>
    </div>
  </div>
  <!-- <div class="iiplogo">
    <div>
      <img src="/images/logo.png" alt="IIP Logo" />
    </div>
    <div>
      <img class="iipbanner" src="/images/banner.jpg" alt="IIP banner" />
    </div>
  </div> -->
</div>

<style>
  .AboutUsHeader {
  }
  .subheader {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .MissionText {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .AboutUsHeader {
    background-color: #181f4b;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }

  .flex-item {
  }

  /* h1 {
    font-size: 50px;
    font-weight: bold;
  }
  h2 {
    font-size: 20px;
  } */

  .iiplogo {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }

  .iipbanner {
    width: 3000px;
    height: auto;
  }

  /* p {
    color: white;
    font-size: 20px;
  } */

  #info {
    z-index: 1;
    margin: 50px;
  }
</style>
