---
---

<div class="AboutUsHeader">
  <div class="MissionTextSection">
    <h1 class="text-secondary">Mission Statement</h1>
    <p class="MissionText">
      <p class="subheader">About Us</p>
      <p>
        International School with UK Curriculum, Both Cambridge and Edexcel
        Primary, Secondary and Advanced Level, IGCSE O Level, A Level.
      </p>
    </p>
    <p class="MissionText">
      <p class="subheader">Additional Information</p>
      <p>
        This institute standout academic programs for IGCSE & A level students
        mainly on UK Curriculum. We promote the learning activities of every
        student and provide strong academic fundamentals built on a foundation
        of character education to leverage their university progression.
      </p>
    </p>
  </div>
  <!-- <div class="iiplogo">
    <div>
      <img src="/images/logo.png" alt="IIP Logo" />
    </div>
    <div>
      <img class="iipbanner" src="/images/banner.jpg" alt="IIP banner" />
    </div>
  </div> -->
</div>

<style>
  .AboutUsHeader {
  }
  .subheader {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .MissionText {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .AboutUsHeader {
    background-color: #181f4b;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }

  .flex-item {
  }

  h1 {
    font-size: 50px;
    font-weight: bold;
  }
  h2 {
    font-size: 20px;
  }

  .iiplogo {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }

  .iipbanner {
    width: 3000px;
    height: auto;
  }

  p {
    color: white;
    font-size: 20px;
  }

  #info {
    z-index: 1;
    margin: 50px;
  }
</style>
