---
---

<div class="founder_main">
  <h1><b>Meet Our Founders</b></h1>
  <div>
    <img src="Fo" alt="Daw Aye Aye Aung" />
    <img src="" alt="U Kyaw Thiha" />
    <img src="" alt="Daw Myat Thit Mon" />
  </div>
</div>
<style>
  h1 {
    font-size: 30px;
  }
  .founder_main {
    margin: 30px;
  }
  img {
    position: absolute;
  }
</style>
