---
import { t } from "i18next";
import Image from "@components/Common/Image.astro";

import DawAyeAyeAungImage from "@assets/founders/aye-aye-aung.jpg";
import UKyawThiha from "@assets/founders/kyaw-thiha.jpg";
import DawMyatThitMon from "@assets/founders/myat-thit-mon.jpg";
---

<div class="founder_main">
  <h1 class="mb-12 text-center text-2xl md:text-4xl">
    <b>{t("about-us:founders.title")}</b>
  </h1>
  <div class="flex flex-wrap">
    <div class="m-0 flex flex-col lg:w-[90%] lg:basis-1/3">
      <Image
        src={DawAyeAyeAungImage}
        alt="Principal Daw Aye Aye Aung"
        class="m-0 w-full border-4 border-primary lg:w-[90%]"
      />
      <p class="name text-center text-xl md:text-2xl">
        {t("about-us:founders.daw-aye-aye-aung.name")}
      </p>
      <p class="text-center text-lg md:text-xl">
        {t("about-us:founders.daw-aye-aye-aung.role")}
      </p>
    </div>
    <div class="m-0 flex flex-col lg:w-[90%] lg:basis-1/3">
      <Image
        src={UKyawThiha}
        alt="Finance Director U Kyaw Thiha"
        class="m-0 w-full border-4 border-primary lg:w-[90%]"
      />
      <p class="name text-center text-lg md:text-xl">
        {t("about-us:founders.kyaw-thiha.name")}
      </p>
      <p class="text-center text-lg md:text-xl">
        {t("about-us:founders.kyaw-thiha.role")}
      </p>
    </div>
    <div class="m-0 flex w-full flex-col p-3 lg:w-[90%] lg:basis-1/3">
      <Image
        src={DawMyatThitMon}
        alt="Managing Director Daw Myat Thit Mon"
        class="m-0 w-full border-4 border-primary"
      />
      <p class="name text-center text-lg md:text-xl">
        {t("about-us:founders.myat-thit-mon.name")}
      </p>
      <p class="text-center text-lg md:text-xl">
        {t("about-us:founders.myat-thit-mon.role")}
      </p>
    </div>
  </div>
</div>
<style>
  /* h1 {
    font-size: 40px;
    text-align: center;
  } */
  .founder_main {
    margin: 20px;
  }
  .row {
    display: flex;
    margin: 40px;
  }
  .column {
    flex: 33.33%;
    padding: 20px;
    margin: 40px;
  }
  img {
    border-radius: 50%;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid gray;
  }

  .name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
  }
</style>
