---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import ALevelCurriculum from "@layouts/ALevelCurriculum.astro";

changeLanguage("my");
---

<Layout title="A-Level Curriculum | IIP">
  <ALevelCurriculum
    title="A-Level"
    active="pathway"
    link="/curriculum/a-level/subjects"
  >
    <div>
      <!--Grey box, I recommend using table-->
      <div class="mx-8 mt-8 bg-gray-300 px-8 py-4">
        <div class="ml-44 grid grid-cols-4 gap-2">
          <div>IGCSE</div>
          <div>SAT</div>
          <div>GED</div>
          <div>IB</div>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div>Criteria -1</div>
          <div>Hi</div>
          <div>Hi</div>
          <div>Hi</div>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div>Criteria - 2</div>
          <div>Hi</div>
          <div>Hi</div>
          <div>Hi</div>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div>Criteria - 3</div>
          <div>HI</div>
          <div>Hi</div>
          <div>Hi</div>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div>Criteria - 4</div>
          <div>Hi</div>
          <div>Hi</div>
          <div>Hi</div>
        </div>
      </div>
      <!--CIE vs Edexcel text!! -->

      <div class="mt-11 ml-32 text-4xl">CIE Vs Edexcel</div>
      <div class="mx-8 mt-4">
        Body text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
        posuere diam id ligula bibendum pulvinar. Quisque scelerisque, turpis
        vestibulum rhoncus laoreet, lorem mauris convallis felis, quis interdum
        massa justo egestas enim. Pellentesque ut lacinia enim. Duis ex erat,
        placerat eu fermentum vehicula, feugiat quis erat. Aenean semper turpis
        nec blandit facilisis. Sed dolor libero, scelerisque sed odio nec,
        varius fringilla diam. Phasellus venenatis nec velit sed hendrerit.
        Donec fermentum dui ac mi bibendum viverra. Sed consequat aliquam
        aliquet. Pellentesque posuere nunc ut justo sodales, sit amet aliquam
        justo tincidunt. Donec eu nisl velit. Nullam euismod est lectus, et
        dictum mauris luctus sed. Duis non porta purus. Integer non felis ac mi
        gravida accumsan nec eu sem.
      </div>
      <!-- <div class="mt-2 w-5/6 text-justify text-xl">
  
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere diam id ligula bibendum pulvinar. Quisque scelerisque, turpis vestibulum rhoncus laoreet, lorem mauris convallis felis, quis interdum massa justo egestas enim. Pellentesque ut lacinia enim. Duis ex erat, placerat eu fermentum vehicula, feugiat quis erat. 

    Aenean semper turpis nec blandit facilisis. Sed dolor libero, scelerisque sed odio nec, varius fringilla diam. Phasellus venenatis nec velit sed hendrerit. Donec fermentum dui ac mi bibendum viverra. Sed consequat aliquam aliquet. Pellentesque posuere nunc ut justo sodales, sit amet aliquam justo tincidunt. Donec eu nisl velit. Nullam euismod est lectus, et dictum mauris luctus sed. Duis non porta purus. Integer non felis ac mi gravida accumsan nec eu sem. 
    
    



    </div> -->
    </div>
  </ALevelCurriculum>
</Layout>
