---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import AlumniList from "@components/Alumni/AlumniList";

changeLanguage("en");
---

<Layout title="IIP International School">
  <main class="min-h-[80vh]">
    <AlumniList client:load />
  </main>
</Layout>
