---
import Button from "@components/Common/Button.astro";
import Image from "@components/Common/Image.astro";
import { t } from "i18next";

import heroImage from "@assets/hero.jpg";

const images = ["images/hero.jpg", "images/graduation_2022.png"];
---

<!-- The hero image and text -->
<div class="flex min-h-[60vh]">
  <div class="flex flex-[0.5] flex-col items-center justify-center">
    <h3 class="mb-3 w-4/5 text-center text-black">
      {t("home:hero.primaryText")}
    </h3>
    <h4 class="text center p-3 text-2xl text-black">
      {t("home:hero.secondaryText")}
    </h4>
    <div class="mt-12 flex items-center justify-center">
      <Button
        label={t("home:hero.btnLabel")}
        class="rounded-2xl px-12 py-6 text-3xl text-black"
        secondary
        href="/programs"
      />
    </div>
  </div>

  <div class="flex-1">
    <Image src={heroImage} alt="Hero Image" height={500} />
  </div>
</div>
