---
//Add you javascript here if you need
import { t } from "i18next";
import Link from "@components/Common/Link.astro";
---

<div class="flex min-h-[60vh] items-center">
  <div class="mx-[12vw]">
    <div class="title mb-8 text-6xl font-bold text-secondary">
      {t("home:about-us.title")}
    </div>
    <div>
      <p class="mb-3">{t("home:about-us.description")}</p>

      <div class="text-blue-700">
        <Link href="/about-us">Read More</Link>
      </div>
    </div>
  </div>
</div>
