---
import Button from "../Common/Button.astro";
import Image from "../Common/Image.astro";
---

<!-- The hero image and text -->
<div class="flex min-h-[60vh]">
  <div class="flex flex-1 flex-col items-center justify-center px-6">
    <h2 class="text-center text-black">Where excellence is found</h2>

    <div class="mt-12 flex items-center justify-center">
      <Button label="Find programs " class="p-4 rounded-xl" />
    </div>
  </div>

  <!-- TODO: Still needs some fix so that image covers full height -->
  <div class="flex-1">
    <!-- <Image src="/images/hero.png" alt="Hero Image" objectFit="cover" /> -->
    <img src="/images/hero.png" alt="Hero Image" class="h-full" />
  </div>
</div>
