---
//Add you javascript here if you need
import i18next, { t, changeLanguage } from "i18next";
import Link from "../Link.astro";
---

<div class="mx-[12vw] mt-32 mb-64">
  <div class="title mt-10 mb-12 text-6xl font-bold text-secondary">
    {t("home:about-us.title")}
  </div>
  <div class="">
    <p class="mb-3">{t("home:about-us.description")}</p>

    <Link href="#seemore" secondary>Read More</Link>
  </div>
</div>
