---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Year1To9Curriculum from "@layouts/Year1To9Curriculum.astro";

changeLanguage("my");
---

<Layout title="Year 1 To 9 Curriculum | IIP">
  <Year1To9Curriculum
    title="Year 1 To 9"
    active="subjects"
    link="/curriculum/year-1_to_9/studying"
  >
    <div class="mt-11 ml-32 text-4xl">Subject Guide</div>
    <div class="mx-auto mt-5 w-1/2"></div>
    <div class="flex-direction content-stretch grid grid-cols-2 gap-x-16">
      <!--First grey box -->
      <div
        class="ml-32 mt-12 mb-14 grid w-5/6 rounded-xl bg-gray-300 px-8 py-8 text-xl"
      >
        <div class="mb-4 text-2xl">Year 1 to 8</div>
        <div class="mb-4 text-2xl">Major Subjects:</div>
        <li>Mathematics</li>
        <li>English</li>
        <li>Science</li>
        <div class="mt-4 mb-4 text-2xl">Minor Subjects:</div>
        <li>Geography</li>
        <li>History</li>
        <li>Myanmar</li>
        <li>Global Perspective</li>
        <li>Fine Arts</li>
        <li>PE</li>
        <li>Music</li>
        <li>Language</li>
        <li>Computing</li>
      </div>
      <div
        class="mr-32 mt-12 mb-14 grid w-5/6 rounded-xl bg-gray-300 px-8 py-8 text-xl"
      >
        <div class="mb-4 text-2xl">Year 9</div>
        <div class="mb-4 text-2xl">Major Subjects:</div>
        <li>Mathematics</li>
        <li>English</li>
        <li>Science</li>
        <div class="mt-4 mb-4 text-2xl">Minor Subjects:</div>
        <li>Geography</li>
        <li>History</li>
        <li>Myanmar</li>
        <li>Global Perspective</li>
        <li>Fine Arts</li>
        <li>PE</li>
        <li>Music</li>
        <li>Computing</li>
      </div>
    </div>
  </Year1To9Curriculum>
</Layout>
