---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import IGCSECurriculum from "@layouts/IGCSECurriculum.astro";

changeLanguage("en");
---

<Layout title="IGCSE Curriculum | IIP">
  <IGCSECurriculum title="IGCSE" active="apply" link="/admission/igcse">
    <div></div>
  </IGCSECurriculum>
</Layout>
