---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import IGCSECurriculum from "@layouts/IGCSECurriculum.astro";

changeLanguage("en");
---

<Layout title="IGCSE Curriculum | IIP">
  <IGCSECurriculum
    title="IGCSE"
    active="overview"
    link="/curriculum/igcse/pathway"
  >
    <div>
      <!--First grey box -->
      <div
        class="mx-auto mb-14 mt-12 w-5/6 rounded-xl bg-gray-300 px-8 py-4 text-xl"
      >
        <div class="mb-2">
          Duration <div class="ml-10 inline">: 1 year and 6 months</div>
        </div>
        <div class="mb-4 ml-32">: 2 years</div>
        <div class="mb-2">
          Minimum requirements
          <div class="ml-7 inline">: Year 9 completion</div>
        </div>

        <div class="mb-4 ml-64">: Myanmar school Grade 8 completion</div>
        <div>Minimum subjects <div class="ml-20 inline">: 6 subjects</div></div>
      </div>
      <!-- Paragraph-->
      <!--That's it hope you can write easily!! just put the data and that's pretty much it -->
      <div class="mx-auto w-5/6 text-justify text-xl">
        IGCSE (International General Certificate of Secondary Education) is a
        two-year secondary education program designed for students aged 14 to
        16. It is an internationally recognized qualification that is equivalent
        to the GCSE (General Certificate of Secondary Education) in the UK. The
        IGCSE curriculum covers a wide range of subjects, including English,
        Mathematics, Sciences, Humanities, and Languages. The program is
        designed to prepare students for further education, such as the
        International Baccalaureate (IB) or A-levels, or for entering the
        university foundation programme. Students take exams at the end of the
        two-year program and receive certificates based on their performance.
      </div>
    </div>
  </IGCSECurriculum>
</Layout>
