---
//Add you javascript here if you need
---

<footer class="footer">
  <img id="bgimg" src="/images/graduation_2022.png" alt="Background Image" />
  <div id="info">
    <p>Address: 1B, Wingabar Street, Bahan, Shwe Gone Daing Township, Yangon</p>
    <p>Address: 1B, Wingabar Street, Bahan, Shwe Gone Daing Township, Yangon</p>
    <p>Address: 1B, Wingabar Street, Bahan, Shwe Gone Daing Township, Yangon</p>
    <p>Phone:+959450407041, +959450407042</p>
    <p>
      Facebook: <a
        href="https://www.facebook.com/IIPInternationalSchool/"
        target="_blank">Institute of International Professionalism</a
      >
    </p>
    <p>
      Email: <a href="mailto:info@iprofessionalism.com"
        >info@iprofessionalism.com</a
      >
    </p>
  </div>
  <div class="iiplogo">
    <div>
      <img src="/images/logo.png" alt="IIP Logo" />
    </div>
    <div>
      <img class="iipbanner" src="/images/banner.jpg" alt="IIP banner" />
    </div>
  </div>
</footer>

<style>
  .footer {
    background-color: #181f4b;
    width: auto;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  #bgimg {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 10%;
  }

  .flex-item {
  }

  .iiplogo {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
  }

  .iipbanner {
    width: 3000px;
    height: auto;
  }

  p {
    color: white;
    font-size: 20px;
  }

  #info {
    z-index: 1;
    margin: 70px;
  }
</style>
