---
import LanguageSelector from "./LanguageSelector.astro";
import Link from "@components/Common/Link.astro";

import Logo from "@assets/logo.png";
import Image from "@components/Common/Image.astro";
---

<div>
  <div class="bg-primary py-1 text-white">
    <div class="flex items-center justify-center">
      <Link href="/" class="flex items-center hover:no-underline">
        <Image
          src={Logo}
          alt="Logo"
          width={150}
          height={130}
          class="hidden flex-[0.1] md:block"
        />

        <h1 class="flex-1 text-center text-2xl md:text-5xl md:leading-normal">
          Institute of International Professionalism
        </h1>
      </Link>
    </div>
  </div>
  <div class="navbar py-4 md:py-2">
    <div></div>
    <div
      id="navbuttons"
      class="mb-0 mr-0 flex items-center justify-center gap-2 md:mb-2 md:mr-4 md:gap-4"
    >
      <div class="mr-0 flex md:mr-3">
        <div
          class="text-md mx-2 hidden items-center text-center md:flex md:text-xl"
        >
          <Link color="white" href="">Home</Link>
        </div>
        <div
          class="text-md mx-2 hidden items-center text-center md:flex md:text-xl"
        >
          <Link color="white" href="about-us">About Us</Link>
        </div>
        <div
          class="text-md mx-2 hidden items-center text-center md:flex md:text-xl"
        >
          <Link color="white" href="programs">Programs</Link>
        </div>
        <div class="text-md mx-2 flex items-center text-center md:text-xl">
          <Link color="white" href="admission/igcse">Admissions</Link>
        </div>
        <div class="text-md mx-2 flex items-center text-center md:text-xl">
          <Link color="white" href="contact-us">Contact Us</Link>
        </div>
      </div>

      <div class="mr-2 flex items-center justify-center">
        <LanguageSelector />
      </div>
    </div>
  </div>
</div>

<style>
  * {
    /* font-family: Arial, Helvetica, sans-serif; */
    color: ;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181f4b;
    color: #ffffff;
  }
  /* #navbuttons a {
    color: #ffffff;
    width: 100px;
    height: 100%;
    background-color: #0a2a4f;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: none;
    text-align: center;
  }
  #navbuttons a:hover {
    background-color: #f78f3a;
  } */
  .langselector {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
  }
</style>
