---
import LanguageSelector from "./LanguageSelector.astro";
import Link from "@components/Common/Link.astro";
---

<div>
  <div class="bg-primary py-1 text-white">
    <div class="flex items-center justify-center">
      <Link href="/" class="flex items-center hover:no-underline">
        <img
          src="/images/logo.png"
          alt="Logo"
          width="150"
          height="130"
          class="flex-[0.1]"
        />

        <h1 class="flex-1 text-5xl">
          Institute of International Professionalism
        </h1>
      </Link>
    </div>
  </div>
  <div class="navbar">
    <div></div>
    <div id="navbuttons" class="mb-2 mr-4 flex items-center justify-center">
      <div class="mr-3 flex">
        <div class="mx-2 text-xl">
          <Link color="white" href="about-us">About Us</Link>
        </div>
        <div class="mx-2 text-xl">
          <Link color="white" href="programs">Programs</Link>
        </div>
        <div class="mx-2 text-xl">
          <Link color="white" href="admission/igcse">Admissions</Link>
        </div>
        <div class="mx-2 text-xl">
          <Link color="white" href="contact-us">Contact Us</Link>
        </div>
      </div>

      <div class="mr-2 flex items-center justify-center">
        <LanguageSelector />
      </div>
    </div>
  </div>
</div>

<style>
  * {
    /* font-family: Arial, Helvetica, sans-serif; */
    color: ;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181f4b;
    color: #ffffff;
  }
  /* #navbuttons a {
    color: #ffffff;
    width: 100px;
    height: 100%;
    background-color: #0a2a4f;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: none;
    text-align: center;
  }
  #navbuttons a:hover {
    background-color: #f78f3a;
  } */
  .langselector {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
  }
</style>
