---
import LanguageSelector from "./LanguageSelector.astro";
import Button from "./Common/Button.astro";
import Image from "./Common/Image.astro";
---

<div>
  <div class="header py-1">
    <div class="flex items-center justify-center">
      <img src="/images/logo.png" alt="Logo" width="180" height="180" />
      <h1>Institute of International Professionalism</h1>
    </div>
  </div>
  <div class="navbar">
    <div></div>
    <div id="navbuttons" class="mb-2 mr-4 flex">
      <Button
        label="About"
        href=""
        class="w-16 mx-2 rounded-xl px-4 py-2 text-secondary text-xl"
      />

      <Button
        label="Programs"
        href=""
        class="w-16 mx-2 rounded-xl px-4 py-2 text-secondary text-xl"
      />
      <Button
        label="Admissions"
        href=""
        class="w-16 mx-2 rounded-xl px-4 py-2 text-secondary text-xl"
      />
      <div class="mr-2 flex items-center justify-center">
        <LanguageSelector />
      </div>

      <!-- <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Programs</a>
      <a href="#">Admissions</a> -->
    </div>
  </div>
</div>

<style>
  * {
    /* font-family: Arial, Helvetica, sans-serif; */
    color: ;
  }
  .header {
    background-color: #181f4b;
    color: #ffffff;
    text-align: center;
  }
  .header h1 {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181f4b;
    color: #ffffff;
  }
  #navbuttons a {
    color: #ffffff;
    width: 100px;
    height: 100%;
    background-color: #0a2a4f;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: none;
    text-align: center;
  }
  #navbuttons a:hover {
    background-color: #f78f3a;
  }
  .langselector {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
  }
</style>
