---
---

<div class="text-center text-4xl">Contact Us</div>
<div class="mx-8 my-3 flex items-center justify-center gap-12 bg-primary py-4">
  <div
    class="flex-direction vertical-center flex h-[400px] w-[400px] flex-col items-center justify-center rounded-3xl bg-white text-center"
  >
    <p class="text-4xl">☎</p>
    <p class="text-3xl font-semibold leading-loose">Give us a call</p>
    <p class="mb-0.5">09 458844188</p>
    <p class="mb-0.5">or</p>
    <p class="mb-0.5">09 405554100</p>
  </div>
  <div class="">
    <div
      class="flex-direction h-[400px] w-[400px] rounded-3xl bg-white text-center"
    >
      Pay us a visit
    </div>
  </div>
  <div
    class="flex-direction h-[400px] w-[400px] rounded-3xl bg-white text-center"
  >
    Send us an email

    <!-- <div class=""> -->
  </div>
</div>
