---
export interface Props {
  image: string;
  name: string;
  quote: string;
}

const { image, name, quote } = Astro.props;
---

<div class="p-6">
  <img src={image} alt="logo.png" />
  <p class="text-2xl font-semibold leading-loose">{name}</p>
  <p class="text-base">{quote}</p>
</div>
