---
import MemberCard from "./MemberCard.astro";

interface TeamMember {
  name: string;
  image: string;
  quote: string;
}

const members: Array<TeamMember> = [
  {
    name: "",
    image: "",
    quote: "",
  },
];
---

<div>
  <h2>Our Team</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere diam id
    ligula bibendum pulvinar. Quisque scelerisque, turpis vestibulum rhoncus
    laoreet, lorem mauris convallis felis, quis interdum massa justo egestas
    enim. Pellentesque ut lacinia enim.
  </p>
  <div>
    {
      members.map((member) => (
        <MemberCard
          image={member.image}
          name={member.name}
          quote={member.quote}
        />
      ))
    }
  </div>
</div>
