---
---

<div class="mx-6">
  <h3 class="my-10 text-center">Our Memories</h3>

  <div class="container items-center justify-center">
    <div class="mosaic">
      <div class="img1">
        <img
          class="rotateleft"
          src="/images/our-team/syr-myo-2.png"
          alt="logo.png"
          style="width:200px; height: auto; transform:rotate(-20deg);"
        />
      </div>

      <div class="img2">
        <img
          class="rotateleft"
          src="/images/our-team/syr-myo-2.png"
          alt="logo.png"
          style="width:200px; height: auto; transform:rotate(20deg);"
        />
      </div>

      <div class="img3">
        <img
          class="rotateleft"
          src="/images/our-team/syr-myo-2.png"
          alt="logo.png"
          style="width:200px; height: auto; transform:rotate(-20deg);"
        />
      </div>

      <div class="img4">
        <img
          class="rotateleft"
          src="/images/our-team/syr-myo-2.png"
          alt="logo.png"
          style="width:200px; height: auto; transform:rotate(20deg);"
        />
      </div>
      <div class="img5">
        <img
          class="rotateleft"
          src="/images/our-team/syr-myo-2.png"
          alt="logo.png"
          style="width:200px; height: auto; transform:rotate(-20deg);"
        />
      </div>
      <div class="img6">
        <img
          class="rotateleft"
          src="/images/our-team/syr-myo-2.png"
          alt="logo.png"
          style="width:200px; height: auto; transform:rotate(20deg);"
        />
      </div>
    </div>
  </div>

  <style>
    .container {
      padding-left: 50px;
      padding-right: 50px;
      margin: auto;
    }
    .mosaic {
      display: grid;
    }
    .img1 {
      grid-column: 1;
    }
    .img2 {
      grid-column: 2;
    }
    .img3 {
      grid-column: 3;
    }
    .img4 {
      grid-column: 4;
    }
    .img5 {
      grid-column: 5;
    }
    .img6 {
      grid-column: 6;
    }
  </style>
</div>
