---
import MemberCard from "./MemberCard.astro";

interface TeamMember {
  name: string;
  image: string;
  quote: string;
}

const members: Array<TeamMember> = [
  {
    name: "Sayar Myo Win Zaw",
    image: "/images/our-team/syr-myo-3.png",
    quote: `"Who needs a degree when you're schooling life?"`,
  },
  {
    name: "Sayar Myo Win Zaw",
    image: "/images/our-team/syr-myo-2.png",
    quote: `"Who needs a degree when you're schooling life?"`,
  },
  {
    name: "Sayar Myo Win Zaw",
    image: "/images/our-team/syr-myo-1.png",
    quote: `"Who needs a degree when you're schooling life?"`,
  },
  {
    name: "Sayar Myo Win Zaw",
    image: "/images/our-team/syr-myo-1.png",
    quote: `"Who needs a degree when you're schooling life?"`,
  },
  {
    name: "Sayar Myo Win Zaw",
    image: "/images/our-team/syr-myo-1.png",
    quote: `"Who needs a degree when you're schooling life?"`,
  },
  {
    name: "Sayar Myo Win Zaw",
    image: "/images/our-team/syr-myo-1.png",
    quote: `"Who needs a degree when you're schooling life?"`,
  },
  {
    name: "Sayar Myo Win Zaw",
    image: "/images/our-team/syr-myo-1.png",
    quote: `"Who needs a degree when you're schooling life?"`,
  },
  {
    name: "Sayar Myo Win Zaw",
    image: "/images/our-team/syr-myo-1.png",
    quote: `"Who needs a degree when you're schooling life?"`,
  },
];
---

<div class="mx-6">
  <h2 class="text-center">Our Team</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere diam id
    ligula bibendum pulvinar. Quisque scelerisque, turpis vestibulum rhoncus
    laoreet, lorem mauris convallis felis, quis interdum massa justo egestas
    enim. Pellentesque ut lacinia enim.
  </p>
  <div>
    <img class="bg-img" src="/images/our-team/bg.png" alt="" />
    <div
      class="flex-direction vertical-center content-stretch grid grid-cols-4 gap-4 py-8 px-5 text-center"
    >
      {
        members.map((member) => (
          <MemberCard
            image={member.image}
            name={member.name}
            quote={member.quote}
          />
        ))
      }
    </div>
  </div>
</div>

<style>
  .bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 60%;
    z-index: -10;
  }
</style>
