---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import ALevelCurriculum from "@layouts/ALevelCurriculum.astro";

changeLanguage("en");
---

<Layout title="A-Level Curriculum | IIP">
  <ALevelCurriculum
    title="A-Level"
    active="overview"
    link="/curriculum/a-level/pathway"
  >
    <div>
      <!--First grey box -->
      <div class="ml-7 block text-3xl md:hidden">Overview</div>
      <div
        class="mx-auto mb-14 mt-12 w-5/6 rounded-xl bg-gray-300 px-8 py-4 text-xl"
      >
        <div class="mb-2">
          Duration <div class="ml-2 inline">: 1 year and 6 months</div>
        </div>
        <div class="mb-4 ml-24">: 2 years</div>
        <div class="mb-2">
          Minimum requirements
          <div class="block md:ml-7 md:inline">: IGCSE Completion</div>
        </div>

        <div class="mb-4 block md:ml-7">
          - Myanmar school Grade 10 completion
        </div>
        <div>
          Minimum subjects <div class="inline md:ml-7">- 3 subjects</div>
        </div>
      </div>
      <!-- Paragraph-->
      <!--That's it hope you can write easily!! just put the data and that's pretty much it -->
      <div class="mx-auto w-5/6 text-justify text-xl">
        A-Level (Advanced Level) is a two-year advanced secondary education
        program that follows on from the IGCSE. It is offered in many countries,
        including the UK, and is a widely recognized qualification for entry
        into higher education institutions. A-Level courses are typically more
        specialized and in-depth than IGCSE courses, and students usually choose
        to study 3 or 4 subjects in greater detail. The subjects available can
        include Sciences, Mathematics, and Business subjects. Students take
        exams at the end of the two-year program, and their performance
        determines their A-Level grades, which can be used for university
        admission or employment purposes. A-Levels are often considered to be
        more challenging than IGCSEs and require a greater level of academic
        maturity and independence.
      </div>
    </div>
  </ALevelCurriculum>
</Layout>
