---
import Button from "@components/Common/Button.astro";
import Link from "@components/Common/Link.astro";

export interface Props {
  title: string;
  active: "year-1_to_7" | "year-8_to_9" | "igcse" | "a-level";
  link: string;
}

const { title, active, link } = Astro.props;

const getLinkClass = (
  link: "year-1_to_7" | "year-8_to_9" | "igcse" | "a-level"
) => {
  if (link == active) {
    return "bg-gray-300 py-2 px-2 rounded-lg";
  } else {
    return "";
  }
};
---

<!--Nav bar -->
<div>
  <h2 class="ml-5">{title}</h2>
  <div class="ml-1 flex">
    <div class="ml-4 mr-2 border-r-2 border-black pr-4 text-2xl text-blue-700">
      <Link href="/admission/year-1_to_7 " class={getLinkClass("year-1_to_7")}>
        Year 1 to 7
      </Link>
    </div>
    <div class="ml-4 mr-2 border-r-2 border-black pr-4 text-2xl text-blue-700">
      <Link href="/admission/year-8_to_9" class={getLinkClass("year-8_to_9")}>
        Year 8 to 9
      </Link>
    </div>
    <div class="ml-4 mr-2 border-r-2 border-black pr-4 text-2xl text-blue-700">
      <Link href="/admission/igcse" class={getLinkClass("igcse")}>IGCSE</Link>
    </div>
    <div class="ml-4 mr-2 border-r-2 border-black pr-4 text-2xl text-blue-700">
      <Link href="/admission/a-level" class={getLinkClass("a-level")}>
        A Level
      </Link>
    </div>
  </div>
  <!--body -->

  <!--Button -->
  <slot />
  <div class="mt-20 mb-5 flex items-center justify-center">
    <Button class="rounded-2xl py-3 px-56" href={link} label="Apply Now" />
  </div>
</div>
