---
import { changeLanguage } from "i18next";
import AboutUsFounders from "@components/AboutUs/AboutUsFounders.astro";
import AboutUsHistory from "@components/AboutUs/AboutUsHistory.astro";
import AboutUsLinks from "@components/AboutUs/AboutUsLinks.astro";
import AboutUsMissionStatement from "@components/AboutUs/AboutUsMissionStatement.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("my");
---

<Layout title="IIP International School">
  <main>
    <AboutUsMissionStatement />
    <AboutUsFounders />
    <AboutUsHistory />
    <AboutUsLinks />
  </main>
</Layout>
