---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";

changeLanguage("my");
---

<Layout title="IIP International School">
  <h1 class="text-3xl">Announcements</h1>
</Layout>
