---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import AnnouncementList from "@components/Announcement/announcementList";

changeLanguage("my");
---

<Layout title="IIP International School">
  <h1
    class="mx-4 mb-4 mt-8 text-center text-3xl font-extrabold md:mb-8 md:mt-12 md:text-6xl"
  >
    Announcements
  </h1>
  <AnnouncementList client:load />
</Layout>
