---
import { changeLanguage } from "i18next";
import ContactUsAddress from "@components/ContactUs/ContactUsAddress.astro";
import ContactUsDetails from "@components/ContactUs/ContactUsDetails.astro";
import Layout from "@layouts/Layout.astro";

changeLanguage("my");
---

<Layout title="IIP International School">
  <div class="flex flex-col gap-8 md:gap-20">
    <ContactUsDetails />
    <ContactUsAddress />
  </div>
</Layout>
