---
import Layout from "@layouts/Layout.astro";
import HomeHero from "@components/Home/HomeHero.astro";
import HomePrograms from "@components/Home/HomePrograms.astro";
import HomeAboutUs from "@components/Home/HomeAboutUs.astro";
// import HomeAlumni from "@components/Home/HomeAlumni.astro";
import HomeAlumni from "@components/Home/HomeAlumni";
import Button from "@components/Common/Button.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

changeLanguage("my");
---

<Layout title="IIP International School">
  <main class="mb-12 flex flex-col gap-28">
    <HomeHero />
    <HomePrograms />
    <HomeAboutUs />
    <HomeAlumni client:load />
    <div class="flex flex-row items-center justify-center">
      <div class="rounded-lg text-xl lg:w-[50vw]">
        <Button
          class="rounded-lg px-4 py-2.5"
          label="Latest Announcements"
          href="/announcement"
        />
      </div>
    </div>
  </main>
</Layout>
<script>
  import { trpcAstro } from "@client/index";

  const data = await trpcAstro.igcseClass.getAll.query(
    undefined // no input
  );
  console.log(data);
</script>

<style>
  main {
    /* margin: auto;
    padding: 1.5rem;
    max-width: 60ch; */
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
