---
import Layout from "../../layouts/Layout.astro";
import HomeHero from "../../components/Home/HomeHero.astro";
import HomeVideo from "../../components/Home/HomeVideo.astro";
import HomeAboutUs from "../../components/Home/HomeAboutUs.astro";
import HomeAlumni from "../../components/Home/HomeAlumni.astro";
import Button from "../../components/Common/Button.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs, LanguageSelector, } from "astro-i18next/components";
import Image from "../../components/Common/Image.astro";

changeLanguage("my");
---

<Layout title="IIP International School">
  <main>
    <Image src="/images/logo.png" alt="A landscape image" />
    <HomeHero />
    <HomeVideo />
    <HomeAboutUs />
    <HomeAlumni />
    <div class="flex flex-row items-center justify-center">
      <div class="w-[50vw] rounded-lg text-xl">
        <Button
          class="py-2.5 rounded-lg"
          label="See Our Latest Announcements"
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    /* margin: auto;
    padding: 1.5rem;
    max-width: 60ch; */
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
