---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Button from "@components/Common/Button.astro";
import Link from "@components/Common/Link.astro";

changeLanguage("my");

interface Program {
    name: string;
    text: string;
    image: string;
    link: string;
    reverse: boolean;
}
const programs: Program[] = [
    {
        name: "IGCSE",
        text: "This is class for IGCSE. Idk what else to write. Somebody replace this text.",
        image: "/images/graduation_2022.png",
        link: "/curriculum/igcse/overview",
        reverse: false,
    },
    {
        name: "Year 1-9",
        text: "Class for kiddos,if you hear bad violin playing, yep thats them.",
        image: "/images/hero-old.png",
        link: "/curriculum/year-1_to_9/overview",
        reverse: true,
    },
    {
        name: "A Levels",
        text: "This is the best class in the school. All hail Alvls. Somebody replace this text.",
        image: "/images/hero.jpg",
        link: "/curriculum/a-level/overview",
        reverse: false,
    },
];
---

<Layout title="Programs | IIP">
  <main class="">
    {
      programs.map((program) => (
        <div
          class={`flex ${program.reverse ? "flex-row-reverse" : "flex-row"}`}
        >
          <div class="flex flex-1 flex-col items-center justify-center">
            <h2 class="mb-6 text-center">{program.name}</h2>

            <h4>{program.text}</h4>
            <div class="mt-12 flex items-center justify-center">
              <Link href={program.link}>
                <Button class="rounded-2xl py-3 px-8" label="Enroll Now" />
              </Link>
            </div>
          </div>

          <div class="flex-1">
            <img class="h-[50vh] w-full object-cover" src={program.image} />
          </div>
        </div>
      ))
    }
  </main>
</Layout>
