---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Button from "@components/Common/Button.astro";
import Link from "@components/Common/Link.astro";
import IGCSECurriculum from "@layouts/IGCSECurriculum.astro";
import BackgroundImage from "@assets/hero-old.png";
import Image from "@components/Common/Image.astro";

changeLanguage("my");
---

<Layout title="IGCSE Curriculum | IIP">
  <IGCSECurriculum title="IGCSE" active="apply" link="/admission/igcse">
    <div
      class="relative mb-20 mt-8 flex min-h-[70vh] items-center justify-center md:mx-12 md:mb-32"
    >
      <!-- <img
        class="absolute -z-10 hidden h-full w-full rounded-3xl opacity-50 md:block"
        src="/images/hero-old.png"
      /> -->
      <Image
        src={BackgroundImage}
        alt="Background Image"
        class="absolute -z-10 h-full w-full object-cover opacity-50 md:block md:rounded-3xl"
      />
      <div class="flex flex-col items-center">
        <h2
          class="mb-12 mt-8 text-center text-4xl leading-loose text-primary md:mb-24 md:mt-12 md:text-[80px]"
        >
          So, What are you waiting for?
        </h2>

        <Button
          class="rounded-2xl bg-secondary px-20 py-3 text-xl text-black md:px-40"
          href="/admission/igcse"
          label="Apply Now"
        />
      </div>
    </div>

    <div class="ml-12">
      <h1 class="text-3xl font-semibold">Related Links</h1>
      <div class="mt-5 flex flex-col gap-4 text-[20px]">
        <Link class="text-blue-700 hover:text-secondary" href="CIE credited">
          Is the school CIE credited?
        </Link>
        <Link class="text-blue-700 hover:text-secondary" href="class size">
          What is the class size?
        </Link>
        <Link class="text-blue-700 hover:text-secondary" href="previous-grades">
          Are online class available?
        </Link>
      </div>
    </div>
  </IGCSECurriculum>
</Layout>
