---
import { t, changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import IGCSECurriculum from "@layouts/IGCSECurriculum.astro";

changeLanguage("my");
---

<Layout title="IGCSE Curriculum | IIP">
  <IGCSECurriculum
    title="IGCSE"
    active="overview"
    link="/curriculum/igcse/pathway"
  >
    <div>
      <!--First grey box -->
      <div class="ml-7 block text-3xl md:hidden">
        {t("curriculum_ig_over:overview.text-1")}
      </div>
      <div
        class="mx-auto mb-14 mt-12 w-5/6 rounded-xl bg-gray-300 px-8 py-4 text-xl"
      >
        <div class="mb-2">
          {t("curriculum_ig_over:overview.text-2")}
          <div class="ml-2 inline">
            {t("curriculum_ig_over:overview.text-3")}
          </div>
        </div>
        <div class="mb-4 ml-24">{t("curriculum_ig_over:overview.text-4")}</div>
        <div class="mb-2">
          {t("curriculum_ig_over:overview.text-5")}
          <div class="block md:ml-7 md:inline">
            {t("curriculum_ig_over:overview.text-6")}
          </div>
        </div>

        <div class="mb-4 block md:ml-7">
          {t("curriculum_ig_over:overview.text-7")}
        </div>
        <div>
          {t("curriculum_ig_over:overview.text-8")}
          <div class="inline md:ml-7">
            {t("curriculum_ig_over:overview.text-9")}
          </div>
        </div>
      </div>
      <!-- Paragraph-->
      <!--That's it hope you can write easily!! just put the data and that's pretty much it -->
      <div class="mx-auto w-5/6 text-justify text-xl">
        {t("curriculum_ig_over:para.text-1")}
      </div>
    </div>
  </IGCSECurriculum>
</Layout>
