---
import { t, changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import IGCSECurriculum from "@layouts/IGCSECurriculum.astro";

changeLanguage("my");
---

<Layout title="IGCSE Curriculum | IIP">
  <IGCSECurriculum
    title="IGCSE"
    active="pathway"
    link="/curriculum/igcse/subjects"
  >
    <div>
      <!--Grey box-->
      <div class="ml-7 block text-3xl md:hidden">Pathway</div>
      <div class="mx-8 mt-8 block bg-gray-300 px-8 py-4 md:hidden">
        <div class="">
          <div class="text-center">IGCSE</div><br />Criteria-1<br
          />Criteria-2<br />Criteria-3<br />Criteria-4
        </div>
      </div>
      <div class="mx-8 mt-8 block bg-gray-300 px-8 py-4 md:hidden">
        <div class="">
          <div class="text-center">SAT</div><br />Criteria-1<br />Criteria-2<br
          />Criteria-3<br />Criteria-4
        </div>
      </div>
      <div class="mx-8 mt-8 block bg-gray-300 px-8 py-4 md:hidden">
        <div class="">
          <div class="text-center">GED</div><br />Criteria-1<br />Criteria-2<br
          />Criteria-3<br />Criteria-4
        </div>
      </div>
      <div class="mx-8 mt-8 block bg-gray-300 px-8 py-4 md:hidden">
        <div class="">
          <div class="text-center">IB</div><br />Criteria-1<br />Criteria-2<br
          />Criteria-3<br />Criteria-4
        </div>
      </div>
      <div class="mx-8 mt-8 hidden bg-gray-300 px-8 py-4 md:block">
        <div class="ml-44 grid grid-cols-4 gap-2">
          <div>IGCSE</div>
          <div>SAT</div>
          <div>GED</div>
          <div>IB</div>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div>Criteria -1</div>
          <div>Hi</div>
          <div>Hi</div>
          <div>Hi</div>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div>Criteria - 2</div>
          <div>Hi</div>
          <div>Hi</div>
          <div>Hi</div>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div>Criteria - 3</div>
          <div>HI</div>
          <div>Hi</div>
          <div>Hi</div>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div>Criteria - 4</div>
          <div>Hi</div>
          <div>Hi</div>
          <div>Hi</div>
        </div>
      </div>
      <!--CIE vs Edexcel text!! -->

      <div class="ml-8 mt-11 text-4xl md:ml-32">CIE Vs Edexcel</div>
      <div class="mx-8 mt-4">
        {t("curriculum_ig_path:para.text-1")}
      </div>
      <!-- <div class="mt-2 w-5/6 text-justify text-xl">
  
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere diam id ligula bibendum pulvinar. Quisque scelerisque, turpis vestibulum rhoncus laoreet, lorem mauris convallis felis, quis interdum massa justo egestas enim. Pellentesque ut lacinia enim. Duis ex erat, placerat eu fermentum vehicula, feugiat quis erat. 

    Aenean semper turpis nec blandit facilisis. Sed dolor libero, scelerisque sed odio nec, varius fringilla diam. Phasellus venenatis nec velit sed hendrerit. Donec fermentum dui ac mi bibendum viverra. Sed consequat aliquam aliquet. Pellentesque posuere nunc ut justo sodales, sit amet aliquam justo tincidunt. Donec eu nisl velit. Nullam euismod est lectus, et dictum mauris luctus sed. Duis non porta purus. Integer non felis ac mi gravida accumsan nec eu sem. 
    
    



    </div> -->
    </div>
  </IGCSECurriculum>
</Layout>
