---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import IGCSECurriculum from "@layouts/IGCSECurriculum.astro";

changeLanguage("my");
---

<Layout title="IGCSE Curriculum | IIP">
  <IGCSECurriculum
    title="IGCSE"
    active="pathway"
    link="/curriculum/igcse/subjects"
  >
    <div>
      <!--Grey box, I recommend using table-->
      <div class="mx-8 mt-8 bg-gray-300 px-8 py-4"></div>
      <!--CIE vs Edexcel text!! -->
    </div>
  </IGCSECurriculum>
</Layout>
