---
import { t, changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import IGCSECurriculum from "@layouts/IGCSECurriculum.astro";
import Link from "@components/Common/Link.astro";

changeLanguage("my");
---

<Layout title="IGCSE Curriculum | IIP">
  <IGCSECurriculum
    title="IGCSE"
    active="studying"
    link="/curriculum/igcse/apply"
  >
    <!--Student life -->
    <div class="ml-8 mt-11 text-3xl md:ml-32">
      {t("curriculum_ig_study:topic.title-1")}
    </div>
    <div
      class="mt-5 w-5/6 md:w-1/2"
      style="margin-left:auto; margin-right:auto;"
    >
      <img src="/images/hero.jpg" />
    </div>
    <div
      class="mb-2 mt-5 w-5/6 text-justify text-xl"
      style="margin-left:auto; margin-right:auto;"
    >
      {t("curriculum_ig_study:Para.body-1")}
    </div>
    <Link class="ml-32 text-blue-600" href="/images">
      {t("curriculum_ig_study:topic.link")}
    </Link>

    <!--Past Papers -->
    <div class="mb-9 ml-8 mt-11 text-4xl md:ml-32">
      {t("curriculum_ig_study:topic.title-2")}
    </div>
    <div
      class="mt-5 w-5/6 text-justify text-xl"
      style="margin-left:auto; margin-right:auto;"
    >
      {t("curriculum_ig_study:Para.body-2")}
    </div>
    <!--Weekly test -->

    <div class="mb-9 ml-8 mt-11 text-4xl md:ml-32">
      {t("curriculum_ig_study:topic.title-3")}
    </div>
    <div
      class="mt-5 w-5/6 text-justify text-xl"
      style="margin-left:auto; margin-right:auto;"
    >
      {t("curriculum_ig_study:Para.body-3")}
    </div>

    <!--Midterm and final Exams -->

    <div class="mb-9 ml-8 mt-11 text-4xl md:ml-32">
      {t("curriculum_ig_study:topic.title-4")}
    </div>
    <div
      class="mt-5 w-5/6 text-justify text-xl"
      style="margin-left:auto; margin-right:auto;"
    >
      {t("curriculum_ig_study:Para.body-4")}
    </div>

    <!--Guide -->

    <div class="mb-9 ml-8 mt-11 text-4xl md:ml-32">
      {t("curriculum_ig_study:topic.title-5")}
    </div>
    <div
      class="mt-5 w-5/6 text-justify text-xl"
      style="margin-left:auto; margin-right:auto;"
    >
      {t("curriculum_ig_study:Para.body-5")}
    </div>
  </IGCSECurriculum>
</Layout>
